/* Import Tailwind CSS styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional custom styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f7f7f7; /* Dark background color */
  color: #000000; /* White text color */
}

a {
  color: #ffffff; /* White color for links */
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #ffffff; /* Color for links on hover */
}

.page {
  width: 100vw;
}

.header {
  background: rgba(53, 78, 73, 0.92); /* Dark background color for header */
  box-shadow: 0 0 0 1px rgba(35, 38, 59, 0.05),
    0 1px 3px 0 rgba(35, 59, 41, 0.15);
  padding: 1rem 0;
  position: relative;
  width: 100%;
}

.header-wrapper {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.items-info {
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  pointer-events: none;
  background: rgba(248, 248, 248, 0.7); /* Dark background color for items */
  border-color: rgba(255, 255, 255, 0.7);
}

.items-info--title {
  margin-left: 10px;
}

.items-info--title h3 {
  font-size: 15px;
  /* margin-top: 0.3vw; */
  padding-bottom: 10px;
  margin-bottom: 0;
  color: "#FFFFFF";
}

.items-info--genres {
  margin-bottom: 15px;
}

.genre-title {
  display: inline-block;
  font-size: 12px;
  color: white; /* White color for genre title */
}
/* Autocomplete */

.aa-Panel {
  position: fixed;
}

/* InstantSearch */

.ais-Hits-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  list-style: none;
}

.ais-Pagination-list {
  list-style: none;
}

.ais-Pagination-item {
  display: inline-block;
  padding: 0 10px;
}

.ais-Pagination-item--selected {
  font-weight: bold;
  font-size: 20px;
}

.ais-Hits-item {
  padding: 1rem !important;
}

.ais-Pagination {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.ais-SearchBox {
  align-items: center;
}

.ais-SearchBox-input {
  width: 300px;
  height: 30px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 50px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(34, 34, 34); /* Set the text color to black */
  font-size: 12px;
  font-family: sans-serif; /* Use an industry-standard font */
  text-indent: 5px; /* Adjust the indentation within the search bar */
}

.ais-SearchBox-submit {
  display: none;
}

.ais-SearchBox-reset {
  display: none;
}

/* RefinementList */
.ais-RefinementList-list {
  list-style: none;
}

.ais-RefinementList-item {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  cursor: pointer;
}

.ais-RefinementList-item--selected {
  font-weight: 900;
  font-size: 20px;
}

.ais-RefinementList-checkbox {
  display: none;
}

.ais-RefinementList-count {
  display: none;
}

.ais-RefinementList-label {
  cursor: pointer;
}

.items {
  overflow: hidden;
  margin-right: 0.5rem;
  cursor: pointer;
}

.items img {
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.items-info {
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  pointer-events: none;
  background: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

.items-info--title {
  margin-left: 10px;
}

.items-info--title h3 {
  font-size: 15px;
  /* margin-top: 0.3vw; */
  padding-bottom: 10px;
  margin-bottom: 0;
}

.items-info--genres {
  margin-bottom: 15px;
}

.genre-title {
  display: inline-block;
  font-size: 12px;
  color: rgb(0, 0, 0);
}

.header .nav-button {
  color: white;
}
