/* Tailwind CSS setup */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Box sizing for all elements */
* {
  box-sizing: border-box;
}

/* Body styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f7f7f7;
  color: #000;
}

/* Page width */
.page {
  width: 100vw;
}

/* Header styles */
.header {
  background: rgba(230, 229, 225, 0.238);
  box-shadow: 0 0 0 1px rgba(35, 38, 59, 0.05),
    0 1px 3px 0 rgba(35, 59, 41, 0.15);
  padding: 1rem;
  position: relative;
  width: 100%;
}

/* Header wrapper styles */
.header-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 767px) {
  .header-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #searchbox,
  #cats {
    margin: 5px 0;
  }
}

.hit-title {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px; /* Adjust as needed */
  padding-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px; /* Adjust based on your layout */
}

/* Custom header wrapper styles */
.custom-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 0.25rem;
}

.custom-header-wrapper > * {
  margin: 0 0.5rem;
}

/* Items info styles */
.items-info {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  text-align: start;
  width: 100%;
  pointer-events: none;
  border-color: #fff;
}

.items-info--title {
  font-size: 20px;
  margin: 0;
  padding-right: 5px;
}

.items-info--title h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.items-info--description {
  font-size: 12px;
  white-space: wrap;
  color: #555;
  margin-bottom: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding-right: 20px;
  padding-left: 30px;
}

/* Genre title styles */
.genre-title {
  display: inline-block;
  font-size: 12px;
  color: #fff;
}

/* Autocomplete styles */
.aa-Panel {
  position: fixed;
}

/* Hits container styles */
.hits-container {
  justify-content: center;
}

/* InstantSearch styles */
.ais-Hits-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  list-style: none;
}

/* Pagination styles */
.ais-Pagination-list {
  list-style: none;
}

.ais-Pagination-item {
  display: inline-block;
  padding: 0 10px;
}

.ais-Pagination-item--selected {
  font-weight: bold;
  font-size: 20px;
}

.ais-Hits-item {
  padding: 0.5rem !important;
}

.ais-Pagination {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

/* Search box styles */
.ais-SearchBox {
  align-items: center;
}

.ais-SearchBox-input {
  width: 300px;
  height: 46px;
  margin: 0 15px;
  border-radius: 10px;
  padding: 0 10px;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  text-indent: 5px;
  border: 1px solid #ccc;
}

.ais-SearchBox-submit,
.ais-SearchBox-reset {
  display: none;
}

/* RefinementList styles */
.ais-RefinementList-list {
  list-style: none;
}

.ais-RefinementList-item {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  cursor: pointer;
}

.ais-RefinementList-item--selected {
  font-weight: 900;
  font-size: 20px;
}

.ais-RefinementList-checkbox,
.ais-RefinementList-count {
  display: none;
}

.ais-RefinementList-label {
  cursor: pointer;
}

/* Item styles */
.items {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  max-width: 500px;
}

.items:hover {
  box-shadow: 0 0 5px 5px rgba(217, 196, 38, 0.238);
}

/* Image container styles */
.image-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.items-info-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.items-info--title h3,
.items-info--description p {
  word-wrap: break-word;
}

/* Container for text (title and description) */
.text-container {
  flex: 1;
  margin-right: 10px;
}

/* Header navigation button styles */
.header .nav-button {
  color: #fff;
}

.profile-pic {
  width: 50px; /* Set desired width */
  height: 50px; /* Same as width to keep it square */
  border-radius: 50%; /* Makes the image round */
  object-fit: cover; /* Crops and fits the image within the circle */
  overflow: hidden; /* Ensure no overflow outside the circle */
}

.profile-container {
  display: inline-block; /* Keeps the container inline */
  width: 50px; /* Same as the profile-pic size */
  height: 50px; /* Same as the profile-pic size */
  border-radius: 50%; /* Ensure the container also remains circular */
  overflow: hidden; /* Crop anything outside the circle */
}

/* Category filter styles */
#cats {
  width: 300px;
  height: 46px;
  border-radius: 10px;
  padding: 0 10px;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  text-indent: 5px;
  border: 1px solid #ccc;
}

@media (max-width: 600px) {
  #cats {
    margin: 10px 0;
  }

  #searchbox {
    margin-bottom: 10px;
  }
}

.view-count {
  font-size: 14px;
  color: #666;
  margin-top: 8px;
}

/* Search container styles */
.search-container {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 4px;
}

.search-icon {
  margin-right: 8px;
}

.search-icon svg {
  color: #3b675e;
  width: 24px;
  height: 24px;
}

.search-input {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  width: 100%;
}

/* Container for searchbox and category filter */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Centered searchbox container */
.search-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

/* Centered category filter container */
.category-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

/* Responsive styling */
@media (max-width: 767px) {
  .search-categories-container {
    flex-direction: column;
  }

  #searchbox {
    margin-bottom: 10px;
  }

  #cats {
    margin: 10px 0;
  }
}

@media (min-width: 768px) {
  .search-categories-container {
    flex-direction: row;
    justify-content: center;
  }

  #searchbox {
    margin-bottom: 0;
  }

  #cats {
    margin: 0;
  }
}
